* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  padding-top: 13px;
  background-color: #ffe2b0; /* butun web-sahifamizni rangini o'zgartiradi */
}

header {
  text-align: center; /* elementni joyini o'zgartirish (center: o'rtaga) */
  margin-bottom: 20px;
}

ul {
  /* list-style-type: none;  nuqtalarni yo'qotish li teglarini yonidan = 1 - usul */
  list-style: none; /* nuqtalarni yo'qotish li teglarini yonidan = 2 - usul */
  text-align: center;
  padding: 0;
}

li {
  display: inline;
  margin-right: 100px;
}

a {
  color: black;
  text-decoration: none; /* a tegi ning tagida chiziqlarni yo'qotadi */
  font-size: 18px; /* shriftning o'lchami */
}

li:last-child {
  margin-right: 0;
}

nav {
  margin-bottom: 20px;
}

.section-about {
  height: 40rem; /* 40rem = 640px */
  /* background-image: url(../img/01-Fon-rasmi.jpg);
  background-position: center;
  background-size: cover; */
  /* yuqoridagi kodni bitta background ichiga yozishimiz mumkin */
  background: url(../img/01-Fon-rasmi.jpg) center/cover no-repeat; /* background-image ishlatayotgan joyimizda background-position ni / (slesh) orqalai ajratib yozamiz */
  position: relative;
  margin-bottom: 20px;
}

.section-about__block {
  position: absolute;
  top: 54%;
  left: 50%;
  width: 420px;
  height: 190px;
  background-image: linear-gradient(180deg, rgba(244, 213, 178, 0.8) 0%, rgba(234, 156, 65, 0.8) 100%);
  text-align: center;
  padding-top: 15px;
}

.section-about__border {
  width: 390px;
  height: 10rem;  /* 10rem = 160px; 1rem = 16px */
  border: 1px solid black;
  margin: 0 auto;  /* block elementlarni gorizontal holatda tekis joylashtirish 0 = top, bottom uchun | auto = right, left uchun lekin bu ishlashi uchun  margin: 0 auto; yozilayotgan elementingizni konkret width:; bo'lishi shart yo'qsa ishlamaydi */
  padding: 17px 0 0 28px;
  text-align: left;
}

.section-about__title {
  font-size: 36px;
  margin-bottom: 9px;
}

.section-about__text {
  font-size: 12px;
}

.section_description__icon-box {
  text-align: center;
}


/* img {

} - Teg selectori

.section_description {

} - Class selectori 

#id {

} - Id selectori

* {
} - Barcha elementga yuzlanish selectori

section_description__icon-box img {

} - Ota (Ona) divning ichidagi elementlarga yuzlanish */ 

.section_description__icon-box {
  text-align: center;
  margin-bottom: 20px;
}

.section_description__icon-box img {
  margin-right: 76px;
}

.section_description__icon-box img:last-child {
  margin-right: 0;
}

.section_description__title {
  font-size: 6rem;  /* 6rem = 96px */
  margin: 0;
  text-align: center;  /* biz text-align hossini ishlata oldik chuki h2 blok element hisoblanadi biz uni ichidagi tekstni centerlashtirdik */
}

.red {
  color: #f15b40;
}

.section_description__text {
  font-size: 18px;
  margin: 0;
  text-align: center;  
  width: 1000px;
  margin: 0 auto;
}