body {
  background-color: #FFE2B0;  /* butun web-sahifamizni rangini o'zgartiradi */
}

header {
  text-align: center;  /* elementni joyini o'zgartirish (center: o'rtaga) */
}

ul {
  /* list-style-type: none;  nuqtalarni yo'qotish li teglarini yonidan = 1 - usul */
  list-style: none;  /* nuqtalarni yo'qotish li teglarini yonidan = 2 - usul */ 
}